.hidden {
  display: none;
}

#final-price {
font-size: larger;
text-align: center;
color: #FFF1D7;
background-color: #BB3E00;
padding: 20px;
}

.error {
  display: none;
}

.jumbotron {
  background-color: #BB3E00
}

body{ 
  color: #FFF1D7;
  background-color: #FFF1D7;
  background-image: url(https://cdn.pixabay.com/photo/2014/07/08/12/34/pizza-386717_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

}

#order-form{
  background-color: #5F8D37;
  text-align: center;
}